body 
{
  margin: 0;
  padding: 0;
  font-family: monospace;
  font-size: 14px;
  color: white;
  user-select: none;
  -webkit-user-select: none;
}

#info-left {
  position: absolute;
  top: 20px;
  left: 25px;
}

#info-center > h2{
  position: absolute;
  top: 200px;
  color:blueviolet;
  font-size: 34px;
  left: 50%;
}

#info-right {
  position: absolute;
  top: 20px;
  right: 25px;
  text-align: right;
}

#bomb-grab-area {
  position: absolute;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  background-color: none;
  cursor: grab;
}

.popup {
  position: fixed;
  top: 20%;
  left: 50%;
  padding: 20px;
  visibility: hidden;
}

#celebrate {
  position: fixed;
  background-color: white;
  top: 20%;
  width: 200px;
  height: 100px;
  padding: 30px;
  margin-left: 40%;
  visibility: hidden;
}

#celebrate h1 
{
  color:black;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  font-size:large;
}

#celebrate h4
{
  top: 10px;
  color:black;
  font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  font-size:small;
}

.dropbtn {
  color: black;
  border-style: solid;
  padding: 16px;
  font-size: 16px;
  cursor: pointer;
  bottom: 10%;
}

.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

.dropdown-content a:hover {background-color: #f1f1f1}

.dropdown:hover .dropdown-content {
  display: block;
}


